@{
    ViewBag.Title = "Forgot Password Confirmation";
}

<hgroup class="title">
    <h3 class="text-success">@ViewBag.Title</h3>
</hgroup>
<div>
    <br/>
    <h4 class="text-primary">
        Please check your email to reset your password.
    </h4>
</div>
	
