@model  ecloning.Areas.Admin.Models.UsersViewModal
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_BioToolsLayout.cshtml";
}

@Html.Partial("_BioTools")

<div id="page-wrapper">

</div>