USE [ecloning]
GO
/****** Object:  Table [dbo].[common_feature]    Script Date: 11-7-2016 16:38:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[common_feature](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[feature_id] [int] NOT NULL,
	[label] [nvarchar](200) NOT NULL,
	[sequence] [text] NOT NULL,
	[des] [text] NULL,
	[group_id] [int] NOT NULL,
	[people_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[common_feature] ON 

INSERT [dbo].[common_feature] ([id], [feature_id], [label], [sequence], [des], [group_id], [people_id]) VALUES (1, 7, N'GAG_enhancer', N'CGATGACTAATACGTAGATGTACTGCCAAGTAGGAAAGTCCCATAAGGTCATGTACTGGGCATAATGCCAGGCGGGCCATTTACCGTCATTGACGTCAATAGGGGGCGTACTTGGCATATGATACACTTGATGTACTGCCAAGTGGGCAGTTTACCGTAAATACTCCACCCATTGACGTCAATGGAAAGTCCCTATTGGCGTTACTATGGGAACATACGTCATTATTGACGTCAATGGGCGGGGGTCGTTGGGCGGTCAGCCAGGCGGGCCATTTACCGTAAGTTATG', NULL, 1, 1)
INSERT [dbo].[common_feature] ([id], [feature_id], [label], [sequence], [des], [group_id], [people_id]) VALUES (3, 8, N'SV40_PA_terminator', N'TGATAAGATACATTGATGAGTTTGGACAAACCACAACTAGAATGCAGTGAAAAAAATGCTTTATTTGTGAAATTTGTGATGCTATTGCTTTATTTGTAACCATTATAAGCTGCAATAAAC', NULL, 1, 1)
SET IDENTITY_INSERT [dbo].[common_feature] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [uq_common_feature_label_group_id]    Script Date: 11-7-2016 16:38:00 ******/
ALTER TABLE [dbo].[common_feature] ADD  CONSTRAINT [uq_common_feature_label_group_id] UNIQUE NONCLUSTERED 
(
	[label] ASC,
	[group_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[common_feature]  WITH CHECK ADD  CONSTRAINT [fk_common_feature_feature_id] FOREIGN KEY([feature_id])
REFERENCES [dbo].[plasmid_feature] ([id])
GO
ALTER TABLE [dbo].[common_feature] CHECK CONSTRAINT [fk_common_feature_feature_id]
GO
ALTER TABLE [dbo].[common_feature]  WITH CHECK ADD  CONSTRAINT [fk_common_feature_group_id] FOREIGN KEY([group_id])
REFERENCES [dbo].[group] ([id])
GO
ALTER TABLE [dbo].[common_feature] CHECK CONSTRAINT [fk_common_feature_group_id]
GO
ALTER TABLE [dbo].[common_feature]  WITH CHECK ADD  CONSTRAINT [fk_common_feature_people_id] FOREIGN KEY([people_id])
REFERENCES [dbo].[people] ([id])
GO
ALTER TABLE [dbo].[common_feature] CHECK CONSTRAINT [fk_common_feature_people_id]
GO
