
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_BioToolsLayout.cshtml";
}
@Html.Partial("_BioTools")
<div id="page-wrapper">
    @*@if (User.IsInRole("InstAdmin"))
    {

    }*@

        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">My Experiments</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4">
                <div class="panel panel-danger">
                    <div class="panel-heading">
                        Experiments
                    </div>
                    <div class="panel-body">

                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        Plans/Calendar
                    </div>
                    <div class="panel-body">

                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        Timelines
                    </div>
                    <div class="panel-body">

                    </div>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="panel panel-danger">
                    <div class="panel-heading">
                        Freezers
                    </div>
                    <div class="panel-body">

                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        Enzymes
                    </div>
                    <div class="panel-body">

                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        Bacteria / Cells
                    </div>
                    <div class="panel-body">

                    </div>
                </div>
            </div>
        </div>
    <!-- BioTools -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">BioTools</h1>
            </div>
        </div>

        <div class="row">
            <!-- 1 -->
            <div class="col-sm-4">
                <div class="panel panel-danger">
                    <div class="panel-heading">
                        Cloning Design
                    </div>
                    <div class="panel-body">

                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        Cloning Sets
                    </div>
                    <div class="panel-body">

                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        Plasmids
                    </div>
                    <div class="panel-body">

                    </div>
                </div>
            </div>
            <!-- 3 -->
            <div class="col-sm-4">
                <div class="panel panel-danger">
                    <div class="panel-heading">
                        Freezers
                    </div>
                    <div class="panel-body">

                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        Enzymes
                    </div>
                    <div class="panel-body">

                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        Bacteria / Cells
                    </div>
                    <div class="panel-body">

                    </div>
                </div>
            </div>
            <!-- 3 -->
            <div class="col-sm-4">
                <div class="panel panel-danger">
                    <div class="panel-heading">
                        Features
                    </div>
                    <div class="panel-body">

                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        Protocols
                    </div>
                    <div class="panel-body">

                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        Miscellaneous Tools
                    </div>
                    <div class="panel-body">

                    </div>
                </div>
            </div>
        </div>

    



</div>