
@{
    ViewBag.Title = "Edit Plasmid Sequence";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var Sequence = ViewBag.Seq;
}

<div class="row">
    <div class="col-xs-offset-1 col-sm-offset-1 col-sm-3">
        <h3 class="text-warning">Sequence Editor</h3>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-3 col-md-offset-1 col-lg-2 col-lg-offset-3">
        <div class="pull-right">
            <br class="hidden-xs" />
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-search"></i></span>
                <input id="searchSeq" type="text" class="form-control" placeholder="Search sequence...">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" id="clearText">
                        <i class="fa fa-remove"></i>
                    </button>
                </span>
            </div>
        </div>
    </div>

</div>

<span id="decodeIt" class="hidden"></span>

<span id="seq" class="hidden">@Sequence</span>
<div class="col-xs-12">
    <div id="seq-editor">

    </div>
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/d3")

<style>

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis text {
  fill: #000;
}

.axis .tick line {
  stroke: rgba(0, 0, 0, 0.1);
  stroke-width: 2px;
}
</style>

<script>
    //this script is used to generate seq editor for ecloing project
    //get original seq
    var seq = $('#seq').text().trim().toUpperCase();
    //convert the seq to arary
    var seqArray = seq.split('');
    var seq_len = seqArray.length;
    //console.log(seqArray);
    
    //prepare svg
    var margin = { top: 20, right: 40, bottom: 30, left: 40 },
        width = ($("#seq-editor").width() <= 250 ? 250 : $("#seq-editor").width()) - margin.left - margin.right;
    var padding = 1.0; //half of the step
    var r = 16; //radius of the circle
    //using d3 rangePoints
    var step = 3 * r; //distance between 2 necleotides
    var numCol = Math.floor(width / step); //number of nucleotides per line
    var arrCol = genArray(numCol);   
    var numRow = Math.round(seq_len / numCol);
    var arrRow = genArray(numRow);    
    //height of svg
    var height = numRow * (step); //step in vertical is half of the horizontal

    //process the seq data
    var seqObj = genSeqObj(seqArray, seq_len, numCol, numRow, step, padding);
    console.log(seqObj);


    var x = d3.scale.ordinal()
              .domain(arrCol)
              .rangeRoundPoints([1, width], padding);
    var y = d3.scale.ordinal()
              .domain(arrRow)
              .rangeRoundPoints([1, height], padding);
    var color = d3.scale.ordinal()
                  .domain(["A", "T", "G", "C"])
                  .range(['#9ecae1', '#fdae6b', '#a1d99b', '#bcbddc']);
    var xAxis = d3.svg.axis()
                .scale(x)
                .innerTickSize(-height).outerTickSize(0).tickPadding(10)
                .orient("bottom");
    var yAxis = d3.svg.axis()
                .scale(y)
                .innerTickSize(-width).outerTickSize(0).tickPadding(10)
                .tickFormat(function (d) { return d==1? d: (d-1) * numCol+1;})
                .orient("left");
    var svg = d3.select("#seq-editor").append("svg")
                .attr("width", width + margin.left + margin.right)
                .attr("height", height + margin.top + margin.bottom)
              .append("g")
                .attr("transform", "translate(" + margin.left + "," + margin.top + ")");
    
    svg.append("g")
      .attr("class", "x axis")
      .attr("transform", "translate(0," + height + ")")
      .call(xAxis);
    svg.append("g")
      .attr("class", "y axis")
      .call(yAxis);

    //draw circles
    var circles = svg.selectAll(".circle")
                     .data(seqObj)
                  .enter()
                     .append("circle");
    var circleAttributes = circles
                            .attr("class", "circle")
                            .attr("id", function (d) { return d[1]+""})
                            .attr("cx", function (d) { return d[2]; })
                            .attr("cy", function (d) { return d[3]; })
                            .attr("r", r )
                            .style("fill", function (d) { return color(d[0]); });



    function genArray(num) {
        var arr = [];
        for (var i = 1; i <= num; i++) {
            arr.push(i);
        }
        return arr;
    }

    function genSeqObj(seqArray, seq_len, numCol, numRow, step, padding) {
        //seqArray

        //position array
        var posArray = genArray(seq_len);
        //cx array and cy array
        var cxArr = [];
        var cyArr = [];

        for (y = 0; y < numRow; y++) {
            for (x = 0; x < numCol; x++) {
                //left and top padding
                var tfPadding = step * padding / 2;
                cxArr.push(x * step + tfPadding);
                cyArr.push(y * step + tfPadding);
            }
        }
        //remove extra items in cxArr and cyArr
        if (cxArr.length > seq_len) {
            cxArr.slice(0, seq_len - 1);
            cyArr.slice(0, seq_len - 1);
        }
        seqObj = d3.zip(seqArray, posArray, cxArr, cyArr);
        return seqObj;
    }
    $('.tick line').attr("stroke-dasharray", "10, 5, 5, 5");
</script>