body {
    /*padding-top: 50px;*/
    padding-bottom: 20px;
    /*background:#FFFFFF;*/
    background: #EEEFEE;
    background: -webkit-linear-gradient(#EEEFEE, #E5E7E6); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#EEEFEE, #E5E7E6); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#EEEFEE, #E5E7E6); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#EEEFEE, #E5E7E6); /* Standard syntax (must be last) */
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=1,startColorstr='#EEEFEE', endColorstr='#E5E7E6'); /* IE9 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=1, startColorstr='#EEEFEE', endColorstr='#E5E7E6')"; /* IE8 */
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

 /*Set width on the form input elements since they're 100% wide by default 
input,
select,
textarea {
    max-width: 280px;
}*/



.top-logo{
    background:#FFFFFF;

}

.navbar-nav > li > a, .navbar-brand {
    padding-top:4px !important; 
    padding-bottom:0 !important;
    height: 28px;
}
.navbar {min-height:28px !important;}

/*.navbar-default{
    background-color:#454545;
    border-color: #454545;
    border-radius:0;
}

.navbar-default .navbar-nav > li > a {
  color: white;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color:mediumaquamarine;
}*/

.navbar-inverse{
    /*background-color: #4D9474;*/
    background-color:#454545;
    border-color: #454545;
    border-radius:0;
}

.navbar-inverse .navbar-nav > li > a {
  color: white;
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  /*color: #ffbbbc;*/
  color:mediumaquamarine;
}

.navbar{
    margin-bottom: 0 !important;
}

.color-grad {
    background: #EEEFEE;
    background: -webkit-linear-gradient(#EEEFEE, #E5E7E6); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#EEEFEE, #E5E7E6); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#EEEFEE, #E5E7E6); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#EEEFEE, #E5E7E6); /* Standard syntax (must be last) */
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=1,startColorstr='#EEEFEE', endColorstr='#E5E7E6'); /* IE9 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=1, startColorstr='#EEEFEE', endColorstr='#E5E7E6')"; /* IE8 */
}


.footer{
    background:#537489;
    color:white;
    font-size:80%;
}

.float-left{
    float:left;
}

.float-right{
    float:right;
}

/*add * for forms*/
.form-group.required .control-label:after {
  content:"*";
  color:red;
}
.required:after {
  content:"*";
  color:red;
}

.dotted-line{
  border:none;
  border-top:1px dotted #85a3e0;
  /*color:#85a3e0;*/
  /*background-color:#85a3e0;*/
  height:1px;
  width:80%;
}
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

/*change default modal widith*/
.modal-body
{
	width: 1200px;
	
}
.modal-content
{
	width: 1200px;
	
}
.modal-dialog
{
	width: 1200px;
	
}
.head3-size
{
    font-size:20px;
}

.giraffe-seq-textarea {
    /*border: 1px solid #e0e0e0;*/
    border: none !important;
    width: 95%;
    height: auto;
    font-family: courier !important;
    font-size: 12px;
    text-align: center;
}

.giraffe-seq-count {
    width: 95%;
    height: auto;
    font-family: courier !important;
    font-size: 12px;
    color:#85adad;
}

.appdescription{
    color:#333333;
    font-size:100%;
    font-family: Orbitron, Tahoma, Geneva, sans-serif;
}

.paging-nav {
	  text-align: left;
	  padding-top: 2px;
	}

	.paging-nav a {
	  margin: auto 1px;
	  text-decoration: none;
	  display: inline-block;
	  padding: 1px 7px;
	  background: #91b9e6;
	  color: white;
	  border-radius: 3px;
	}
	 
	.paging-nav .selected-page {
	  background: #187ed5;
	  font-weight: bold;
	}

    .dataTables_filter{
        float:right;
    }
    .pagination{
        float:right;
    }
    .dataTables_info{
        display:none;
    }

.table.dataTable thead .sorting { background: url('/sorter/bg.gif') no-repeat center right; }
.table.dataTable thead .sorting_asc { background: url('/sorter/asc.gif') no-repeat center right; }
.table.dataTable thead .sorting_desc { background: url('/sorter/desc.gif') no-repeat center right; }



/*remove brand padding*/
.navbar .container-fluid, .navbar-collapse {
    padding-left:0;
}
.navbar-collapse.in {
    padding-left:30px;
}

.table > tbody > tr > th {
     vertical-align: middle;
}


.verticalLine {
    border-left: 2px dotted red;
}
.horizontalLine {
    border-bottom: 2px dotted red;
}
.seqFont {
    font-family: courier !important;
}