@{
    ViewBag.Title = "Home ePlasmid";
}

<div id="home-header">
    <div id="test-info">
        <p class="text-center text-primary hugeFont"> Welcome to test ePlasmid!</p>
        <div class="text-danger col-xs-12 text-center">Attention: this is a test application. All your data are subject to permanent loss. We are not responsible for your data and if necessary, the admin of this application can remove all your data without notice!</div>
    </div>
</div>