
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_BioToolsLayout.cshtml";
}

    @Html.Partial("_BioTools")
    <div id="page-wrapper">
        <span>main page</span>
    </div>
