
@{
    ViewBag.Title = "Translator";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="">
    <div class="col-xs-12 col-sm-offset-1 col-sm-10">
        <h3 class="text-warning">DNA / RNA Translation</h3>
    </div>
</div>
<div class="alert alert-info alert-dismissible fade in col-xs-12 col-sm-offset-1 col-sm-10" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    Transcript DNA Sequence only accepts <span><em>single-stranded DNA</em></span> sequence. Non "a/A", "t/T", "g/G" and "c/C" letters, space, line break, number etc. nonprintable and printable ASCII characters will be automatically removed.<br /> If the sequence you provide contains "u/U", the sequence will be treated as a RNA sequence.
</div>
<div class="">
    <div class="col-xs-12 col-sm-offset-1 col-sm-10">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Provide a single-stranded DNA or RNA sequence
            </div>
            <div class="panel-body">
                <textarea class="form-control" id="dna" rows="15"></textarea>
            </div>
        </div>
    </div>
</div>
<br />
<div class="hidden" id="resultDiv">
    <div class="col-xs-12 col-sm-offset-1 col-sm-10">
        <div class="panel panel-primary">
            <div class="panel-heading text-center" id="result-header">
                AA sequence
            </div>
            <div class="panel-body">
                <textarea class="form-control" rows="15" id="result" readonly></textarea>
            </div>
            <div class="panel-footer clearfix">
                <button class="btn btn-default" id="one-letter"><span>1-Letter</span></button>
                <button class="btn btn-default" id="three-letter"><span>3-Letter</span></button>
            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/jquery")
<script src="~/Scripts/ecloning-translation.js"></script>
<script>
    //remove all non letter in the seqeuce input
    $('#dna').change(function () {
        var before = $('#dna').val();
        //strip out non-alpha characters and convert to uppercase
        var after = before.replace(/[^a-zA-Z]+|\s+$|[0-9]+/g, '').toUpperCase();
        after = after.replace(/[bdefhijklmnopqrsvwxyzBDEFHIJKLMNOPQRSVWZYX]+|\s+$|[0-9]+/g, '').toUpperCase();

        if (after.indexOf('U') != -1) {
            after = after.replace(/[bdefhijklmnopqrstvwxyzBDEFHIJKLMNOPQRSTVWZYX]+|\s+$|[0-9]+/g, '') //remove "t/T"
        }
        $('#dna').val(after);

        //transcript
        var seq = $('#dna').val().trim();
        var type = true;
        var seqType = seq.indexOf('U') != -1 ? "RNA" : "DNA";
        var protein = translation(seq, seqType, type);
        $("#result").val(protein);
        $("#resultDiv").removeClass("hidden");
        $("#one-letter").click(function () {
            var protein = translation(seq, seqType, true);
            $("#result").val(protein);
        })
        $("#three-letter").click(function () {
            var protein = translation(seq, seqType, false);
            $("#result").val(protein);
        })
    });
</script>